:{$PORT} { # site block, listens on the $PORT environment variable, automatically assigned by railway
    log { # access logs
        format console # set access log format to console mode
    }

    # health check for railway
    respond /health 200

    # serve from the 'build' folder (react-scripts builds into the 'build' folder)
    root * dist

    # enable gzipping responses
    encode gzip

    # serve files from 'build'
    file_server

    # if path doesn't exist, redirect it to 'index.html' for client side routing
    try_files {path} /index.html
}